
<app-menu></app-menu>

<h6>Please add your book into store!</h6>

<form [formGroup]="updateBookForm">
    <div class="mb-3">
      <label for="title" class="form-label">Book Title</label>
      <input type="text" class="form-control" id="title" formControlName="title" placeholder="Ex. My Book">
    </div>
    <div class="mb-3">
      <label for="author" class="form-label">Author</label>
      <input type="text" class="form-control" id="author" formControlName="author" placeholder="Ex. John Write">
    </div>
  </form>
  
  <button class="btn btn-primary" (click)="updateBookNow()">Update Book</button>
