.card {
    position: relative;

    .deleteIcon {
        position: absolute;
        right: 10px;
        top: 10px;

        button {

            border-radius: 0 5px;
            &:hover {
                -webkit-backface-visibility: visible; /* Safari */
                backface-visibility: visible;
            }
        }
    }
}